<div class="hedder">

    <div class="firstLineHedder">


  
        <div>

            <h1 style="text-align: center;">Appscent</h1><hr style="width: 50%;  border: 10px solid yellow;
            border-radius: 5px;">
            <h3 id="h.p_jQkIAaEBg0bO"
            dir="ltr"
            class="CDt4Ke zfr3Q OmQG5e"
            style="text-align: center;">
            The
            first
            non-contact,
            AI
            powered,
            diagnostic
            and
            therapy
            device
        </h3>
    
        <h3 id="h.p_5anwcDS-Z11e"
        dir="ltr"
        class="CDt4Ke zfr3Q OmQG5e"
        style="text-align: center;">
        for
        patients
        suffering
        from
        obstructive
        sleep
        apnea
        (OSA)
    </h3>
        </div>



     
       
      




        <div style="width: 5%; text-align: left; padding-left: 1%; margin-top: 1%; display: flex; ; direction: ltr;  
            ">
        


        </div>


    
    </div>




    <div class="secondeLineHedder"
        style="  display: flex;">


        <div
            style="width: 17%; text-align:left; margin-top: 1%">
            
        </div>
        <p id="welcome-p">WELCOME {{username}}</p>
          <div *ngIf="userLoggedIn" (click)="sighnOut()" style="display: flex;  cursor: pointer;">
                <span style="margin-right: 1%; text-align: center;" class="material-icons">exit_to_app</span>
                <span style="color: black;">  Exit </span>
            </div>
    </div>
</div>

