<p>patients works!</p>
<div class="continer">
    <h1>Dear Medical Doctor Welcome</h1>
    <h2>In this area you can follow your patients and check their metrics</h2><br><br>
    <h3>Please select the patient you want to see</h3><br>

    <div  class="select-area">
       
        <select  (change)="selectPatient($event)" class="select-css">
          
            <option> Select patient</option>
            <option  *ngFor="let patient of PatientList | async " value={{patient.id}}>{{patient.username}}</option>
          
          </select>
    </div>
</div>
