<div class="continer">
    <h1>Dear Medical Doctor Welcome</h1>
    <h2>In this area you can follow your patients and check their metrics</h2><br><br>

    <button id="btn-show-cards" (click)="PatientCardDetails()"  class="btn btn-success">All Patient Details</button><br><br>
    
    <!-- ---------------------------------------------------------------- -->
    <patients-details *ngIf="showPatientCardDetails"></patients-details><!-- ---------------------------------------------------------------- -->
    <h3> Please select the patient you want to see</h3><br>

    <div class="select-area">

        <form [formGroup]="myForm">
            <input (click)="chackFormValid($event)" class="date" type="date" formControlName="dateOfPatien">
        </form>
        <select  (change)="selectPatient($event)" class="select-css">
            <option> Select patient</option>
            <option *ngFor="let patient of PatientList | async " value={{patient.id}}>{{patient.username}}</option>

        </select><br>

        <select (change)="selectParam($event)" class="select-css">
            <option> Select param</option>
            <option *ngFor="let param of madicalsParams">{{param}}</option>

        </select><br>
        <button [disabled]="disableBtn" (click)="sendReq()"  class="btn btn-info">show graphs</button>
    </div><br>

    <div *ngIf="showGraphSelected" class="add-graphs">
        <div>
            <select (change)="selectParam($event)" class="select-css">
                <option> Select param</option>
                <option *ngFor="let param of madicalsParams">{{param}}</option>
            </select>
        </div><br>   

        <div>
            <button id="a" (click)="sendReqOnExistsGraph()"  type="button" class="btn btn-warning">new param on this graph</button><br>
        </div><br>
        <div>
            <button id="b" (click)="sendReqOnNewGraph()"  type="button" class="btn btn-success">new param in new graph</button><br>
        </div>

        
    </div>


    
    <div #div class="graphs">
        <div id="chart" #chart></div>
        <div id="test" #newCharts></div>

    </div>
</div>