<div id="login-box">
    <div class="left">
      <h1>Sign in</h1>

      
      <form  [formGroup]="signInForm"  class="form-signin">

      <input  formControlName="email" type="text" name="email" placeholder="E-mail" 
      [ngClass]="{'has-error' :
         signInForm.get('email').errors &&
         (signInForm.get('email').dirty)}" />

         <span *ngIf="signInForm.get('email').errors &&
         (signInForm.get('email').dirty)">
     
           <span style="color: red;" *ngIf="signInForm.get('email').errors.required">
             זהו שדה חובה
           </span>
           <span style="color: red;" *ngIf="signInForm.get('email').errors.email">
             כתובת מייל לא חוקית
           </span>
         </span>


      <input  formControlName="password" type="password" name="password" placeholder="Password" 
      [ngClass]="{'has-error' :
         signInForm.get('password').errors &&
         (signInForm.get('password').dirty)}"
      />

      <span *ngIf="signInForm.get('password').errors && (signInForm.get('password').dirty)">

        <span style="color: red;" *ngIf="signInForm.get('password').errors.required">
          זהו שדה חובה
        </span>
        <span style="color: red;" *ngIf="signInForm.get('password').errors.minlength">
          סיסמה חייבת להיות בעלת 6 תווים
        </span>
        <br>
        <span style="color: red;" *ngIf="signInForm.get('password').errors.pattern">
          סיסמה חייבת להיות לפחות בעלת אות גדולה אות קטנה ומספר.   
        </span>
      </span>

      <span style="color: red;" *ngIf="error.length > 0">
        {{error}}
        <br>
      </span>
      
      

      
      <input [disabled]="!signInForm.valid" (click)="onSubmit()" type="submit" name="signup_submit" value="Sign me in" />
      </form>
    </div>
    
    <div class="right">
      <span class="loginwith">Sign in with<br />social network</span>
      
      <button routerLink="/work-in-progress"  class="social-signin facebook">Log in with facebook</button>
      <button routerLink="/work-in-progress" class="social-signin twitter">Log in with Twitter</button>
      <button routerLink="/work-in-progress" class="social-signin google">Log in with Google+</button>
      <a routerLink="/sign-up" class="text-center new-account">Create an account </a>
    </div>
    <div class="or">OR</div>
  </div>

